# dependencies
node_modules/

# production
/build
/dist

# misc
.DS_Store
.env
.env.*.local
.vscode/
*.log
npm-debug.log*

# system files
Thumbs.db

# Docker
docker-compose.override.yml
.dockerignore

# local development
.idea/
